# Environnements virtuels
venv/
.env

# Fichiers Python inutiles
__pycache__/
*.py[cod]
*.so

# Fichiers notebooks
.ipynb_checkpoints/

# Logs
*.log

# Cache / temporaire
*.tmp
*.swp

# Fichiers de config éditeur
.vscode/
.idea/

# macOS
.DS_Store

# Données & modèles lourds (tu peux adapter selon ton arborescence)
data/processed/
models/
