# Traitement texte & data
numpy
pandas

# Manipulation audio
ffmpeg-python

# YAML config
pyyaml

# Dev utils
pytest


scikit-learn
joblib 
streamlit


# NLP models and utilities
transformers

openai-whisper

tqdm

torch